<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    baseurl = "http://localhost:4000";
</script>
<script src="/js/index.js"></script>


</body>
</html>